<mat-toolbar>
  <!-- <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
  <span>GitLab - Issues</span>
  <span style="min-width: 30px;"></span>
  <button mat-button routerLink="/home" routerLinkActive="route-active" class="icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>show_chart</mat-icon>
    <span>Issues</span>
  </button>
  <button mat-button routerLink="/service-desk" routerLinkActive="route-active" class="icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>support_agent</mat-icon>
    <span>Service Desk</span>
  </button>
  <span class="spacer"></span>
  <mat-form-field style="padding-top: 20px;">
    <mat-label>Projects</mat-label>
    <mat-select [(ngModel)]="project" (ngModelChange)="changeProject()">
      <mat-option *ngFor="let p of projects" [value]="p.id">
        {{p.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
