<div class="flex flex-col flex-auto min-w-0">
  <!-- Main -->
  <div class="flex-auto sm:p-10">
    <div class="ml-7">
      <div class="text-3xl font-semibold tracking-tight leading-8 text-gray-700">Issues</div>
      <div class="font-medium tracking-tight text-gray-600">Monitor metrics, check reports and ...
      </div>
    </div>
    <!-- CONTENT GOES HERE -->
    <div class="min-h-240 p-6">
      <app-period (change)="changePeriod($event)"></app-period>
      <app-history-graph [periods]="periods" [interval]="interval"></app-history-graph>
      <app-bydeveloper-graph [start]="startIssues" [end]="endIssues"></app-bydeveloper-graph>
      <app-issues [start]="startIssues" [end]="endIssues"></app-issues>
    </div>
  </div>
</div>
