<!-- <div class="sm:col-span-2 lg:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6 mb-6">
    <div class="flex text-2xl font-light tracking-tight text-secondary p-2">Tickets history</div>
    <div class="flex items-center justify-between mt-1 ml-10 mr-6 sm:mr-10">
        <div class="flex flex-col flex-auto h-80"> -->
<div class="overflow-hidden m-2">
  <div class="flex items-center justify-between">
    <mat-card class="w-screen">
      <mat-card-header>
        <mat-card-title class="text-slate-200">Tickets history</mat-card-title>
        <mat-card-subtitle>Start</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col flex-auto h-80">
          <div *ngIf="loading" class="flex flex-col items-center">
            <mat-progress-spinner color="accent" mode="indeterminate" strokeWidth="6">
            </mat-progress-spinner>
          </div>
          <apx-chart *ngIf="!loading && chart" class="flex-auto w-full h-full" [chart]="chart.chart"
            [colors]="chart.colors" [dataLabels]="chart.dataLabels" [grid]="chart.grid" [legend]="chart.legend"
            [series]="chart.series" [stroke]="chart.stroke" [tooltip]="chart.tooltip" [xaxis]="chart.xaxis"
            [yaxis]="chart.yaxis">
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- </div>

    </div>
</div> -->
